# Логи и временные файлы
*.log
*.tmp
*.swp
*.swo
*.swn
*.bak
.DS_Store
Thumbs.db

# Зависимости
node_modules/

# Файлы IDE и редакторов
.vscode/
.idea/
*.iml

# Конфигурационные файлы ОС
*.history/

# Кеши
.cache/
dist/
build/